{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyber Bully Detection System</title>
</head>
<body background="{% static 'hack.jpg' %}">
    <h style="font-size:100px; color:white; margin-left: 450px;">Cyber bully detection system</h>
<br>
    <div class="log-form" >
  <form style="display:block; margin-left:820px;  margin-top:200px; height:auto;  width:250px; ">
      <input style="margin-top:-30px; margin:8px; width:350px; height:30px; display:block; border:2px solid yellow; border-radius:7px; padding:2px;
        font-size:20px; padding-left:5px;"  type="text" title="username" placeholder="username" />
      <input style="display:block; margin:8px; width:350px; height:30px; border:2px solid yellow; border-radius:7px; padding:2px;
        font-size:20px; padding-left:5px;" type="password" title="username" placeholder="password" />
      <button style=" margin-left:130px; margin-top:10px; border:2px solid yellow; background:yellow; display:block;
        width:100px; height:40px; border-radius:10px; font-size:25px;" type="submit" class="btn">Login</button>
  </form>
</div>
</body>
</html>